.vscode
.history
__pycache__
*.json
*.pth
*.pyc

!data_app/discriminator/gensim_model.model

!data_app/generator/generated_conversations
!data_app/generator/train
!data_app/generator/test
data_app/generator/*